{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}

{% block content %}
<div class="row">
  <div class="col col-md-6">
    {# existing panel with Name #}
    {{ block.super }}
  </div>

  <div class="col col-md-6">
    <div class="card">
      <h5 class="card-header d-flex justify-content-between align-items-center">
        Scope Tags
        <a href="{% url 'plugins:firewall_objects:firewallobjectscopetag_add' %}?firewall_object={{ object.pk }}"
           class="btn btn-sm btn-primary">
          Add
        </a>
      </h5>
      <div class="card-body table-responsive">
        {% render_table assignments_table %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
